importFrom(vegan, adonis, vegdist)
importFrom(ape, is.rooted, drop.tip)
import(statmod)
import(matrixStats)
import(stats)
importFrom(Rcpp, evalCpp)
importFrom(rmutil, dbetabinom)
importFrom(Matrix, nearPD)
importFrom(MASS, rnegbin)
importFrom(parallel, mclapply, makeCluster, stopCluster, clusterEvalQ,
           parApply, parLapply, parSapply, parRapply, parCapply)
importFrom(utils, getFromNamespace)          
export(GUniFrac)
export(Rarefy)
export(PermanovaG)
export(PermanovaG2)
export(SimulateMSeq)
export(dmanova)
export(adonis3)
export(ZicoSeq)
export(GMPR)
useDynLib(GUniFrac)

