import(vegan)
import(ape)
importFrom(matrixStats, rowMins)
import(stats)
importFrom(Matrix, nearPD)
importFrom(parallel, mclapply, makeCluster, stopCluster, clusterEvalQ,
           parApply, parLapply, parSapply, parRapply, parCapply)
importFrom(utils, getFromNamespace)          
export(GUniFrac)
export(Rarefy)
export(PermanovaG)
export(PermanovaG2)
export(dmanova)
export(adonis3)
